XinYaBarCodePrinter/Service References/ServiceReference1/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.8:8989/wcf/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XinYaWcfServiceForPLCAndWorks" />
  <xs:import schemaLocation="http://192.168.1.8:8989/wcf/metadata?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="WritePLCAdressOnSHSDOld">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XinYaWcfServiceForPLCAndWorks" minOccurs="0" name="workMain" nillable="true" type="q1:TB_WorkMain" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/XinYaWcfServiceForPLCAndWorks" minOccurs="0" name="workDtls" nillable="true" type="q2:ArrayOfTB_WorkDtl" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/XinYaWcfServiceForPLCAndWorks" minOccurs="0" name="workDtlForEachStation" nillable="true" type="q3:TB_WorkDtlForEachStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePLCAdressOnSHSDOldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePLCAdressOnSHSD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secondWorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="palletCode" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePLCAdressOnSHSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WritePLCAdressOnSHSDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePLCAdressOnSESF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secondWorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="palletCode" type="xs:short" />
        <xs:element minOccurs="0" name="exception" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePLCAdressOnSESFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WritePLCAdressOnSESFResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PLCReadAndWriteTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:short" />
        <xs:element minOccurs="0" name="flag" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PLCReadAndWriteTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PLCReadAndWriteTestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPLCAdressData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPLCAdressDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/XinYaWcfServiceForPLCAndWorks" minOccurs="0" name="GetAllPLCAdressDataResult" nillable="true" type="q4:ArrayOfTB_PLCBaseAdressInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPalletCodesBySecondWorkStationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secondWorkStationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPalletCodesBySecondWorkStationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPalletCodesBySecondWorkStationIDResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkTaskComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secondWorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="palletCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkTaskCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkTaskCompleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeNow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeNowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeNowResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginHelpForPCClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondWorkStationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginHelpForPCClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginHelpForPCClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginHelpForService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginHelpForServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginHelpForServiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginHelpForWorkTimeHelp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginHelpForWorkTimeHelpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginHelpForWorkTimeHelpResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginHelpForLoginOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="secondWorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginHelpForLoginOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginHelpForLoginOutResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkTimeBanding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secondWorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recorderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkTimeBandingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkTimeBandingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>