XinYa/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.8:8989/wcf/metadata?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.8:8989/wcf/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.8:8989/wcf/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XinYaWcfServiceForPLCAndWorks" />
      <xsd:import schemaLocation="http://192.168.1.8:8989/wcf/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://192.168.1.8:8989/wcf/metadata?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://192.168.1.8:8989/wcf/metadata?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_WritePLCAdressOnSHSDOld_InputMessage">
    <wsdl:part name="parameters" element="tns:WritePLCAdressOnSHSDOld" />
  </wsdl:message>
  <wsdl:message name="IService1_WritePLCAdressOnSHSDOld_OutputMessage">
    <wsdl:part name="parameters" element="tns:WritePLCAdressOnSHSDOldResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WritePLCAdressOnSHSD_InputMessage">
    <wsdl:part name="parameters" element="tns:WritePLCAdressOnSHSD" />
  </wsdl:message>
  <wsdl:message name="IService1_WritePLCAdressOnSHSD_OutputMessage">
    <wsdl:part name="parameters" element="tns:WritePLCAdressOnSHSDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WritePLCAdressOnSESF_InputMessage">
    <wsdl:part name="parameters" element="tns:WritePLCAdressOnSESF" />
  </wsdl:message>
  <wsdl:message name="IService1_WritePLCAdressOnSESF_OutputMessage">
    <wsdl:part name="parameters" element="tns:WritePLCAdressOnSESFResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PLCReadAndWriteTest_InputMessage">
    <wsdl:part name="parameters" element="tns:PLCReadAndWriteTest" />
  </wsdl:message>
  <wsdl:message name="IService1_PLCReadAndWriteTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PLCReadAndWriteTestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPLCAdressData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPLCAdressData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPLCAdressData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPLCAdressDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPalletCodesBySecondWorkStationID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPalletCodesBySecondWorkStationID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPalletCodesBySecondWorkStationID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPalletCodesBySecondWorkStationIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkTaskComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:WorkTaskComplete" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkTaskComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkTaskCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTimeNow_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeNow" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTimeNow_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeNowResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginHelpForPCClient_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginHelpForPCClient" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginHelpForPCClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginHelpForPCClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginHelpForService_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginHelpForService" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginHelpForService_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginHelpForServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginHelpForWorkTimeHelp_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginHelpForWorkTimeHelp" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginHelpForWorkTimeHelp_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginHelpForWorkTimeHelpResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginHelpForLoginOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginHelpForLoginOut" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginHelpForLoginOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginHelpForLoginOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkTimeBanding_InputMessage">
    <wsdl:part name="parameters" element="tns:WorkTimeBanding" />
  </wsdl:message>
  <wsdl:message name="IService1_WorkTimeBanding_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkTimeBandingResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="WritePLCAdressOnSHSDOld">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WritePLCAdressOnSHSDOld" message="tns:IService1_WritePLCAdressOnSHSDOld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WritePLCAdressOnSHSDOldResponse" message="tns:IService1_WritePLCAdressOnSHSDOld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WritePLCAdressOnSHSD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WritePLCAdressOnSHSD" message="tns:IService1_WritePLCAdressOnSHSD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WritePLCAdressOnSHSDResponse" message="tns:IService1_WritePLCAdressOnSHSD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WritePLCAdressOnSESF">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WritePLCAdressOnSESF" message="tns:IService1_WritePLCAdressOnSESF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WritePLCAdressOnSESFResponse" message="tns:IService1_WritePLCAdressOnSESF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PLCReadAndWriteTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PLCReadAndWriteTest" message="tns:IService1_PLCReadAndWriteTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PLCReadAndWriteTestResponse" message="tns:IService1_PLCReadAndWriteTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPLCAdressData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPLCAdressData" message="tns:IService1_GetAllPLCAdressData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPLCAdressDataResponse" message="tns:IService1_GetAllPLCAdressData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPalletCodesBySecondWorkStationID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPalletCodesBySecondWorkStationID" message="tns:IService1_GetPalletCodesBySecondWorkStationID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPalletCodesBySecondWorkStationIDResponse" message="tns:IService1_GetPalletCodesBySecondWorkStationID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkTaskComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WorkTaskComplete" message="tns:IService1_WorkTaskComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WorkTaskCompleteResponse" message="tns:IService1_WorkTaskComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeNow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTimeNow" message="tns:IService1_GetTimeNow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTimeNowResponse" message="tns:IService1_GetTimeNow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginHelpForPCClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginHelpForPCClient" message="tns:IService1_LoginHelpForPCClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginHelpForPCClientResponse" message="tns:IService1_LoginHelpForPCClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginHelpForService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginHelpForService" message="tns:IService1_LoginHelpForService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginHelpForServiceResponse" message="tns:IService1_LoginHelpForService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginHelpForWorkTimeHelp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginHelpForWorkTimeHelp" message="tns:IService1_LoginHelpForWorkTimeHelp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginHelpForWorkTimeHelpResponse" message="tns:IService1_LoginHelpForWorkTimeHelp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginHelpForLoginOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginHelpForLoginOut" message="tns:IService1_LoginHelpForLoginOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginHelpForLoginOutResponse" message="tns:IService1_LoginHelpForLoginOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkTimeBanding">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WorkTimeBanding" message="tns:IService1_WorkTimeBanding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WorkTimeBandingResponse" message="tns:IService1_WorkTimeBanding_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WritePLCAdressOnSHSDOld">
      <soap:operation soapAction="http://tempuri.org/IService1/WritePLCAdressOnSHSDOld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WritePLCAdressOnSHSD">
      <soap:operation soapAction="http://tempuri.org/IService1/WritePLCAdressOnSHSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WritePLCAdressOnSESF">
      <soap:operation soapAction="http://tempuri.org/IService1/WritePLCAdressOnSESF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PLCReadAndWriteTest">
      <soap:operation soapAction="http://tempuri.org/IService1/PLCReadAndWriteTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPLCAdressData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPLCAdressData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPalletCodesBySecondWorkStationID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPalletCodesBySecondWorkStationID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkTaskComplete">
      <soap:operation soapAction="http://tempuri.org/IService1/WorkTaskComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeNow">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTimeNow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginHelpForPCClient">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginHelpForPCClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginHelpForService">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginHelpForService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginHelpForWorkTimeHelp">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginHelpForWorkTimeHelp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginHelpForLoginOut">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginHelpForLoginOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkTimeBanding">
      <soap:operation soapAction="http://tempuri.org/IService1/WorkTimeBanding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://192.168.1.8:8989/wcf" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>